body {
  background-color: rgba(247, 186, 74, 0.657) !important; */
  font-family:Georgia, serif;
  max-width: 70rem;
  margin-left: 30px;
  margin-right: 10px;
}

.newheader {
  background-color: rgb(30, 0, 255);
  color: white;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 15px;
  border: 1px solid #000000; 
border-radius: 12px;
}

img {
  width: 30%;
  display: flex;
  justify-content: center;
  border: 1px solid #000000; 
border-radius: 12px;

}

.caption {
  font-size: 14px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px
}

h1 {
  font-style: bold;
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 1.5rem;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
}

.fancytext {
  font-family:Georgia, serif;
}


.parsmall {
  max-width: 150px
}

.otherimg {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: whitesmoke;
}

/* selected link */
a:active {
  color: hotpink;
}